
# -----------------------------------------------------------------------------
# BACKEND (back/.env)
# -----------------------------------------------------------------------------
# Cadena de conexión a PostgreSQL
DB_URL=jdbc:postgresql://localhost:5432/atlashr
DB_USER=postgres
DB_PASS=tu_contraseña_aqui

# Clave secreta para JWT (genera una nueva para producción)
JWT_SECRET_KEY=phmZF7/esaVqZuONpGaDe10WnFhdE2wxyUWrzwt//azt4vjvAmo+VqUIi/oOuyZO

# -----------------------------------------------------------------------------
# FRONTEND (front/.env)
# -----------------------------------------------------------------------------
# URL del backend
VITE_BAR_API_URL=http://localhost:8080/api